@font-face {
  font-family: NEXA-BOLD;
  src: url("fonts/NexaBold.otf") format("opentype");
}

@font-face {
  font-family: samsung-one-regular;
  src: url("fonts/SamsungOne-400.ttf");
}
@font-face {
  font-family: samsung-one-bold;
  src: url("fonts/SamsungOne-700.ttf");
}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
  background-color: black;
  height: 100vh;
}
.logo{
  display: flex;
  height: 80px;
  border-bottom:solid white;
  align-items: center;
}
.logo img {
  margin-left: 20px;
  height: 100%;
  max-width: 100%;
} 
.ticket_counter{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
  padding: 15px;
}
.ticket-1 {
  height: 150px;
  width: calc(100% / 6);
  border:solid white;
  border-right: none;
}
.ticket-1:last-child {
  border-right: solid white;
}
.ticket-1 p,h1 {
  color:white;
}
.ticket-no-heading{
  width: 100%;
  height: 30%;
  /* border-bottom: solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-no-heading span {
  color:white;
  font-family: samsung-one-bold;
}
.ticket-no{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.ticket-no span {
  color:white;
  font-family: samsung-one-bold;
}
.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider img{
  width: 100%;
}
.video{
  width: 100%;
}
video {
  width: 100%;
  height: 100%;
}
.ticker {
  height: 100px;
  width: 100%;
  background-color: black;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  color:white;
  font-family: samsung-one-bold;
  font-size: 80px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.l_queue_area {
  width: 30%;
  /* border: solid white; */
  float: left;
  height: 100vh;
}
.l_video_area{
  width: 70%;
  /* border: solid white; */
  float: right;
  height: 100vh;
}
.table{
  display: flex;
}
.table_heading{
  border:solid white;
  width: 50%;
  height: 50px;
}
.table_heading:first-child {
  border-right: none;
}
.table_heading:last-child {
  border-right: none;
}
.table_2{
  display: flex;
}
.ticket_1{
  border:solid white;
  width: 50%;
  height: 131px;
  border-top: none;
  border-right: none;
}
.counter_1{
  border:solid white;
  width: 50%;
  height: 131px;
  border-top: none;
  border-right: none;
}
.images {
  width: 100%;
}
.images img{
  width: 100%;
  overflow: hidden;
}
.video_content {
  height: 90%;
  border: solid white;
}
.logo_2 {
  height: 89px !important;
  border-bottom: none;
}
.ticker_2 {
  height: 75px;
  width: 100%;
  background-color: black;
}
.marquee-container-2 {
  width: 100%;
  overflow: hidden;
}

.marquee-2 {
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  color:white;
  font-family: samsung-one-bold;
  font-size: 50px;
}

@keyframes marquee-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.none{
  display: none;
}
